body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}

    .site-title {
        color: white;
        font-size: 35px;    }

    #my-image {
      box-shadow: 0px 0px 2px 1px black;   
    }

header, footer {

background-color:rgb(16, 69, 241);
}

