body {
    background-color: #aad4cf;
    font-family:Helvetica;
    margin:0 auto

}
/* Set the image header at the center*/
.content{
  
    text-align: center;
    margin:0 auto;
    width: 100%;
    
}
/* The tittle of the header*/
.tittle{
    font-size: 3.5rem;
    position: absolute;
    color:white;
    left:42%;
    top:18%; 
}
/* Vertical line to separate the nav bar*/
.vl {
    border-left: 4px solid rgb(43, 43, 43);
    height: 50px;
    position: absolute;   
    top: 36%;
    left: 42%; 
}

/* Vertical line to separate the nav bar*/

.vltwo {
    border-left: 4px solid rgb(43, 43, 43);
    height: 48px;
    position: absolute;   
    top: 36%;
    left: 60%; 
}

.navigation li{
    
    list-style-type: none;
    font-size: 1.8rem;
    padding: 6%;
    position:relative;
    left: 25%;
    display: inline;
    
}
article .tittletwo, .tittlethree, .tittlefour {
    font-size: 2rem;
    position: relative;
    left:24%;
    top:18%; 
}

.info img{
    float: left;
    width: 20%;
    height: 20%;
    margin-right: 2%;
    position: relative;
  
}
.info, .listwo{
    font-size: 1.3rem;
    position:relative;
    left:24%;
    max-width:55% ;
}

form{
  position:relative;
  font-size: 1.3rem; 
  left: 24%;
  width:55%
  
}

#yourname{
    width: 50%;
}

