body {
    background-color: #aad4cf;
    background-image:url(../images/lone-starfish-wide.jpg) ;
    font-family:Helvetica;
    background-repeat: no-repeat;
    background-size: cover;
}

.tittle{
    font-size: 5rem;
    position: absolute;
    color:white;
    left:40%;
    top:34%; 
}

li{
    
    list-style-type: none;
    font-size: 3rem;
    margin: 200px;
    position:relative;
    left: 10%;
    display: inline;
    
}
