
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -----------------RESET--------------------- */
body{
    font-family: 'Open Sans', sans-serif;
    background-color: white;
}
.header-menu{
    background-color: #222222;
    width: 100%;
    margin:0 auto;
    
}
.menu-logo {

    background-color: #c78b07;
    width: 100%;
}


nav a{
    text-decoration: none;
    color:#c78b07;
    display:block;
    text-align: center;
    padding: 20px;
    font-size: 18px;
    font-weight: bold;
}

nav li:nth-child(1) a{
    background-color:#c78b07;
    color:#222222;
    
    
}

nav form{
    text-align: center;
    padding:12px;
}

nav form .search{
  width: 82%;
  height: 28px;
  font-size: 18px;
}


nav form button{
    display: inline-block;
    height: 33px;   
    background-color:#222222 ;
    border: solid 2px #c78b07 ;
}

.header-banner{
    background-color: springgreen;
    background-image:url("/niet0006.github.io/final-project/img/main-banner.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    padding-bottom: 68px ;
    padding-top: 68px ;
    
    
}

.header-welcome{
    background: rgba(0,0,0,0.5);
    padding: 20px;
    margin: 0 auto;
}

@media only screen and (min-width:  760px) {

    .header-welcome{
    width: 706px;
 }

}

.header-welcome h1{
    font-size: 71px;
    line-height: 98px;
    font-weight: bold;
    color: white;
}

.header-welcome p{
    font-size: 14px;
    line-height: 21px;
    color: white;
}

.header-welcome button{
    color:#222222;
    background-color:#c78b07;
    margin-top: 18px;
    height: 96px;
    font-size: 21px;
    padding-left: 30px;
    padding-right: 30px;
}

.section-about{
    background-color:#ffe5ad;
    padding:12px;
}
.section-about img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.section-info h2{
    font-size: 48px;
    padding-bottom: 16px ;
    padding-top: 37px ;
    font-weight: bold;
}

.section-info p{
    font-size: 14px;
    line-height: 21px;
    margin: 15px 0;
}

/*----------------Services Section------------------*/
.section-services{
    padding:13px;
}

.section-services h2{
    font-size: 38px;
    font-weight: bold;
    padding-top:29px ;
    padding-bottom:27px ;
}

.section-services h3{
    font-size: 28px;
}

.section-services p{
    font-size: 14px;
    line-height: 21px;
}

.section-services img{
    width: 100%;
}

.services{
    background-color: #ffe5ad;
}



